<h1 style="text-align: center;">Monthly Highlights</h1>
<table mat-table [dataSource]="sortedData" style="margin: 0px auto;">
    <ng-container matColumnDef="Month">
        <th mat-header-cell *matHeaderCellDef> Month </th>
        <td mat-cell *matCellDef="let element"> {{element.month}} </td>
    </ng-container>

    <ng-container matColumnDef="POTM">
        <th mat-header-cell *matHeaderCellDef> Player Of The Month </th>
        <td mat-cell *matCellDef="let element"> {{element.potm}} </td>
    </ng-container>

    <ng-container matColumnDef="WPOTM">
        <th mat-header-cell *matHeaderCellDef> Worst Performing Player </th>
        <td mat-cell *matCellDef="let element"> {{element.wpotm}} </td>
    </ng-container>

    <ng-container matColumnDef="Additional Stats">
        <th mat-header-cell *matHeaderCellDef> Additional Month Highlights </th>
        <td mat-cell *matCellDef="let element"> <button (click)="seeStats(element.month)" class="btn btn-primary">See Additional Month Highlights</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<br>
<div style="text-align: center;">
    <button class="btn btn-primary" data-toggle="modal" data-target="#Info" >How is POTM calculated?</button>
</div>



<div id="Info" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 style="text-align: center;" class="modal-title">Calculating POTM</h1>
            </div>
            <div class="modal-body">
             <p>Caluclating POTM involves 2 steps:</p>
             <ol>
                <li>
                    Filtering through players with games played
                </li>
                <li>
                    Calculating monthly scores
                </li>
             </ol>

             <p>
                1. In order for a player to qualify for POTM they must have a certain mininum number of games played for that month. The mininum number of games played for each month is decided
                by taking all the games played by each player of that month and finding an average. The average is then floored (ie. 4.67 -> 4) and any player which has the same amount or more games
                played of the floored average qualifies.
             </p>
             <br>
             <p>
                2. Scores are determined using personal player statics for each month multiplied by a certain weight for each stat and adding them all up. The POTM is the player with the highest calulcated
                score for that specific month. The weights are as following:
             </p>
             <ul>
                <li> 
                    Win Percentage: {{ScoringWeights.winPercentage}}
                </li>
                <li> 
                    Average placement: {{ScoringWeights.placement}}
                </li>
                <li> 
                    Points Per Round: {{ScoringWeights.pointsPerRound}}
                </li>
                <li> 
                    Games Lost On Horses: {{ScoringWeights.gamesLostOnHorses}}
                </li>
                <li> 
                    Games Lost On Points: {{ScoringWeights.gamesLostOnPoints}}
                </li>
             </ul>
             <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

