<h1 style="text-align: center;">Monthly Highlights for {{formattedMonth}}</h1>
<br>

<h2 style="text-align: center;">3 Stars Of The Month</h2>
<table mat-table [dataSource]="sortedData" style="margin: 0px auto;">
    <ng-container matColumnDef="Player">
        <th mat-header-cell *matHeaderCellDef> Player </th>
        <td mat-cell *matCellDef="let element let i = index">
            <div style="display: flex; align-items: center; justify-content: center ">
            <ngx-stars *ngIf = "i == 0" [readonly]="true" [maxStars]="1" [initialStars]="1"></ngx-stars>
            <ngx-stars *ngIf = "i == 1" [readonly]="true" [maxStars]="2" [initialStars]="2"></ngx-stars>
            <ngx-stars *ngIf = "i == 2" [readonly]="true" [maxStars]="3" [initialStars]="3"></ngx-stars>
            <span>{{element.name}}</span>
            <ngx-stars *ngIf = "i == 0" [readonly]="true" [maxStars]="1" [initialStars]="1"></ngx-stars>
            <ngx-stars *ngIf = "i == 1" [readonly]="true" [maxStars]="2" [initialStars]="2"></ngx-stars>
            <ngx-stars *ngIf = "i == 2" [readonly]="true" [maxStars]="3" [initialStars]="3"></ngx-stars>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="Calculated Score">
        <th mat-header-cell *matHeaderCellDef> Calculated Score </th>
        <td mat-cell *matCellDef="let element" matTooltip="Info about the action"> {{element.score}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<br>
<div style="text-align: center;">
    <button class="btn btn-primary" data-toggle="modal" data-target="#NoQualify" >Who didn't qualify for POTM?</button>
</div>

<br>
<br>
<h2 style="text-align: center;">Stats Of The Month</h2>

<table mat-table [dataSource]="sortedData2" style="margin: 0px auto;">
    <ng-container matColumnDef="Stat">
        <th mat-header-cell *matHeaderCellDef> Stat </th>
        <td mat-cell *matCellDef="let element"> {{element.stat}} </td>
    </ng-container>

    <ng-container matColumnDef="Player">
        <th mat-header-cell *matHeaderCellDef> Player </th>
        <td mat-cell *matCellDef="let element"> {{element.player}} </td>
    </ng-container>

    <ng-container matColumnDef="Score">
        <th mat-header-cell *matHeaderCellDef> Score </th>
        <td mat-cell *matCellDef="let element"> {{element.score}} </td>
    </ng-container>

    <ng-container matColumnDef="Game">
        <th mat-header-cell *matHeaderCellDef> Game </th>
        <td mat-cell *matCellDef="let element"> <button class="btn btn-primary" (click)="goToGame(element.gameId)">See Game</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
</table>




<div id="NoQualify" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 style="text-align: center;" class="modal-title">Calculating POTM</h1>
            </div>
            <div class="modal-body">
             <p>The average amount of games played for this month was: {{(totalGamesPlayed/totalPlayers)}}, flooring that is: {{flooredAvg}} </p>
            
             <ul>
                <li *ngFor = "let obj of scoresNotQualified"> 
                    <span>{{obj.name}} -> Games Played: {{obj.gamesPlayed}} -> Calulcated Score: {{obj.score}}</span>
                </li>
             </ul>
             <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->