<h1 style="text-align: center; ">{{ playerStat.name}}'s stats<h1>
<br>
 <table mat-table [dataSource]="sortedData"  style="margin: 0px auto; ">
    <ng-container matColumnDef="Games Played">
        <th mat-header-cell *matHeaderCellDef  style="font-size: 20px"> Games Played </th>
        <td mat-cell *matCellDef="let element" style="font-size: 20px"> {{element.gamesPlayed}} </td>
    </ng-container>

    <ng-container matColumnDef="Games Won">
        <th mat-header-cell *matHeaderCellDef style="font-size: 20px" > Games Won </th>
        <td mat-cell *matCellDef="let element" style="font-size: 20px"> {{element.gamesWon}} </td>
    </ng-container>

    <ng-container matColumnDef="Win %">
        <th mat-header-cell *matHeaderCellDef style="font-size: 20px" > Win % </th>
        <td mat-cell *matCellDef="let element" style="font-size: 20px"> {{((element.gamesWon / element.gamesPlayed)* 100).toFixed(2)}} </td>
    </ng-container>

    <ng-container matColumnDef="Total Points">
        <th mat-header-cell *matHeaderCellDef  style="font-size: 20px"> Total Points </th>
        <td mat-cell *matCellDef="let element" style="font-size: 20px"> {{element.totalPoints}} </td>
    </ng-container>

    <ng-container matColumnDef="Average Points per Game">
        <th mat-header-cell *matHeaderCellDef style="font-size: 20px" > Average Points per Game </th>
        <td mat-cell *matCellDef="let element" style="font-size: 20px"> {{(element.totalPoints / element.gamesPlayed).toFixed(2)}} </td>
    </ng-container>

    <ng-container matColumnDef="Average Points per Round">
        <th mat-header-cell *matHeaderCellDef  style="font-size: 20px"> Average Points per Round </th>
        <td mat-cell *matCellDef="let element" style="font-size: 20px"> {{(element.totalPoints / element.roundsPlayed).toFixed(2)}} </td>
    </ng-container>

    <ng-container matColumnDef="Total Horses">
        <th mat-header-cell *matHeaderCellDef  style="font-size: 20px"> Total Horses </th>
        <td mat-cell *matCellDef="let element" style="font-size: 20px"> {{element.totalHorses}} </td>
    </ng-container>

    <ng-container matColumnDef="Average Horses per Game">
        <th mat-header-cell *matHeaderCellDef  style="font-size: 20px"> Average Horses per Game </th>
        <td mat-cell *matCellDef="let element" style="font-size: 20px"> {{(element.totalHorses / element.gamesPlayed).toFixed(2)}} </td>
    </ng-container>

    <ng-container matColumnDef="Average Horses per Round">
        <th mat-header-cell *matHeaderCellDef  style="font-size: 20px"> Average Horses per Round </th>
        <td mat-cell *matCellDef="let element" style="font-size: 20px"> {{(element.totalHorses / element.roundsPlayed).toFixed(2)}} </td>
    </ng-container>

    <ng-container matColumnDef="Total Losses By Points">
        <th mat-header-cell *matHeaderCellDef  style="font-size: 20px"> Total Losses By Points </th>
        <td mat-cell *matCellDef="let element" style="font-size: 20px"> {{element.gamesLostOnPoints}} </td>
    </ng-container>

    <ng-container matColumnDef="Total Losses By Horses">
        <th mat-header-cell *matHeaderCellDef  style="font-size: 20px"> Total Losses By Horses </th>
        <td mat-cell *matCellDef="let element" style="font-size: 20px"> {{element.gamesLostOnHorses}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>   





<br>
<h1 style="text-align: center; ">Placement finishes</h1>
<p style="text-align: center; font-size: 20px"><i>The following placement finishes are based solely on points</i></p>
     <table mat-table [dataSource]=" placementFinishes"  style="margin: 0px auto; ">
        <ng-container matColumnDef="1st">
            <th mat-header-cell *matHeaderCellDef  style="font-size: 20px"> 1st </th>
            <td mat-cell *matCellDef="let element" style="font-size: 20px"> {{element[1]}} </td>
        </ng-container>

        <ng-container matColumnDef="2nd">
            <th mat-header-cell *matHeaderCellDef  style="font-size: 20px"> 2nd </th>
            <td mat-cell *matCellDef="let element" style="font-size: 20px"> {{element[2]}} </td>
        </ng-container>
    
        <ng-container matColumnDef="3rd">
            <th mat-header-cell *matHeaderCellDef  style="font-size: 20px"> 3rd </th>
            <td mat-cell *matCellDef="let element" style="font-size: 20px"> {{element[3]}} </td>
        </ng-container>
    
        <ng-container matColumnDef="4th">
            <th mat-header-cell *matHeaderCellDef  style="font-size: 20px"> 4th </th>
            <td mat-cell *matCellDef="let element" style="font-size: 20px"> {{element[4]}} </td>
        </ng-container>
    
        <ng-container matColumnDef="5th">
            <th mat-header-cell *matHeaderCellDef  style="font-size: 20px"> 5th </th>
            <td mat-cell *matCellDef="let element" style="font-size: 20px"> {{element[5]}} </td>
        </ng-container>
    
        <ng-container matColumnDef="6th">
            <th mat-header-cell *matHeaderCellDef  style="font-size: 20px"> 6th </th>
            <td mat-cell *matCellDef="let element" style="font-size: 20px"> {{element[6]}} </td>
        </ng-container>

        <ng-container matColumnDef="7th">
            <th mat-header-cell *matHeaderCellDef  style="font-size: 20px"> 7th </th>
            <td mat-cell *matCellDef="let element" style="font-size: 20px"> {{element[7]}} </td>
        </ng-container>

        <ng-container matColumnDef="8th">
            <th mat-header-cell *matHeaderCellDef  style="font-size: 20px"> 8th </th>
            <td mat-cell *matCellDef="let element" style="font-size: 20px"> {{element[8]}} </td>
        </ng-container>   


        <ng-container matColumnDef="disclaimer">
            <td mat-footer-cell *matFooterCellDef [attr.colspan]="placemenetColumns.length" style="font-size: 20px">
            Average Placement: {{averagePlacement}}
            </td>
        </ng-container>

    
        <tr mat-header-row *matHeaderRowDef="placemenetColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: placemenetColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: ['secondary'];"></tr>
        <tr mat-footer-row *matFooterRowDef="['disclaimer']"></tr>
        

    </table> 
    
    <br>
    <h1 style="text-align: center; ">Compare Stats</h1>
    <app-stat-graphs></app-stat-graphs>
    
