<h1 style="text-align: center;">Welcome to Horse Scoring!!</h1>
<p style="text-align: center;"><i>"its the name of the game not the aim of the game"</i></p>
<div style="text-align: center;">
    <img  src="assets/images/horse.png" width="500" height="300" >
</div>
<br>
<button (click)="createNewGame()" class="btn btn-primary">Create New Game</button>
<button (click)="gotoLeaderboard()" class="btn btn-primary" style="float: right;">See Leaderboard</button>

<div style="text-align: center;">
    <button (click)="goToPastGames()" class="btn btn-primary">See Past Games</button>
    <button (click)="goToMonthlyHighlights()" class="btn btn-primary" style="margin-left: 10px;">Monthly Highlights</button>
</div>