<h1 style="text-align: center;">Leaderboard</h1>
<p style="text-align: center;">Click on a player to see additional statistics</p>
<table mat-table [dataSource]="sortedData" matSort (matSortChange)="SortChange($event)" style="margin: 0px auto;">
    <ng-container matColumnDef="Player">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Player </th>
        <td mat-cell *matCellDef="let element"> <a href= "/player-stats/{{element.name}}">{{element.name}}</a> </td>
    </ng-container>

    <ng-container matColumnDef="Games Played">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Games Played </th>
        <td mat-cell *matCellDef="let element"> {{element.gamesPlayed}} </td>
    </ng-container>

    <ng-container matColumnDef="Games Won">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Games Won </th>
        <td mat-cell *matCellDef="let element"> {{element.gamesWon}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Total Points">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Points </th>
        <td mat-cell *matCellDef="let element"> {{element.totalPoints}} </td>
    </ng-container>

    <ng-container matColumnDef="Total Horses">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Horses </th>
        <td mat-cell *matCellDef="let element"> {{element.totalHorses}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

